.card {
    display: inline-block;
    border: 1px solid grey;
}

.card__form {
    padding: 4rem;
}

.input-group {
    display: flex;
    flex-direction: column;
}
.input-label {
    margin-bottom: 0.5rem;
}
.expiration-group {
    flex-wrap: wrap;
}
.expiration-select {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    gap: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
}
.gap-2 {
    gap: 2rem;
}

.col-8 {
    width: calc(100% / 12 * 8);
}
.col-4 {
    width: calc(100% / 12 * 4);
}

#expirationMonth {
    width: 50%;
}
#expirationYear {
    width: 50%;
}

.mb-2 {
    margin-bottom: 2rem;
}

input,
select {
    padding: 1rem;
    outline: 0;
}

.w-100 {
    width: 100%;
}
