@font-face {
    font-family: 'Inter-Regular';
    src: local('Inter-Regular'), url('./Inter-Regular.ttf') format('truetype');
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 10px;
    box-sizing: border-box;
    font-family: 'Inter-Regular', Helvetica, Arial, sans-serif;
}

.App {
    background-color: lightblue;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
